:root {
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
}

main,
header,
footer {
  padding: 8px;
}

header {
  border-bottom: 1px solid darkgray;
  background-color: #eee;
}

footer {
  border-top: 1px solid darkgray;
  display: flex;
  flex-direction: column;
}
